In [29]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [30]:
dict = {'REGNO':[2001,2002,2003,2004,2005], 'NAME':['ABC','DEF','GHI','JKL','MNO'], 'SUB1':[25,35,48,37,48], 'SUB2':[35,45,76,54,78], 'SUB3':[45,55,85,74,98]}

In [31]:
df = pd.DataFrame(dict)

In [32]:
df

   REGNO NAME  SUB1  SUB2  SUB3
0   2001  ABC    25    35    45
1   2002  DEF    35    45    55
2   2003  GHI    48    76    85
3   2004  JKL    37    54    74
4   2005  MNO    48    78    98

In [33]:
df.to_csv('MLlabTest1.csv')

In [34]:
for x in ['SUB1','SUB2','SUB3']:
    z = df[x]
    print(f'min:{z.min()}, max:{z.max()}, mean:{z.mean()}')

min:25, max:48, mean:38.6
min:35, max:78, mean:57.6
min:45, max:98, mean:71.4

In [35]:
for x in range(df.shape[0]):
    z = df.iloc[x]
    print(z['NAME'],':')
    for j in ['SUB1','SUB2','SUB3']:
        if(z[j]<40):
            print(f'       failed {j} ')
    print('----------')

ABC :
       failed SUB1
       failed SUB2
----------
DEF :
       failed SUB1
----------
GHI :
----------
JKL :
       failed SUB1
----------
MNO :
----------

#######
Question 2

In [36]:
df = pd.read_csv('/workspaces/codespaces-jupyter/abalone.csv')
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [37]:

df.shape

(4177, 9)

In [38]:
for x in df.columns:
    print(f'{x} has data type:{df[x].dtype}')

Sex has data type:object
Length has data type:float64
Diameter has data type:float64
Height has data type:float64
Whole weight has data type:float64
Shucked weight has data type:float64
Viscera weight has data type:float64
Shell weight has data type:float64
Rings has data type:int64

In [39]:
z = [i for i in df.columns if df[i].dtype!='object']
for x in z:
    print(f'{x}:')
    print(f'min:{df[x].min()}, q1:{df[x].quantile(0.25)}, median:{df[x].median()}, q3:{df[x].quantile(0.75)}, max:{df[x].max()}')

Length:
min:0.075, q1:0.45, median:0.545, q3:0.615, max:0.815
Diameter:
min:0.055, q1:0.35, median:0.425, q3:0.48, max:0.65
Height:
min:0.0, q1:0.115, median:0.14, q3:0.165, max:1.13
Whole weight:
min:0.002, q1:0.4415, median:0.7995, q3:1.153, max:2.8255
Shucked weight:
min:0.001, q1:0.186, median:0.336, q3:0.502, max:1.488
Viscera weight:
min:0.0005, q1:0.0935, median:0.171, q3:0.253, max:0.76
Shell weight:
min:0.0015, q1:0.13, median:0.234, q3:0.329, max:1.005
Rings:
min:1, q1:8.0, median:9.0, q3:11.0, max:29

In [40]:
df['Sex'].unique()

array(['M', 'F', 'I'], dtype=object)

In [41]:
df['Sex'] = df['Sex'].apply(lambda x: 1 if x=='M' else 2 if x=='F' else 3)

In [42]:
df['Sex']

0       1
1       1
2       2
3       1
4       3
       ..
4172    2
4173    1
4174    1
4175    2
4176    1
Name: Sex, Length: 4177, dtype: int64