In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('transfusion.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Recency (months)                            748 non-null    int64
 1   Frequency (times)                           748 non-null    int64
 2   Monetary (c.c. blood)                       748 non-null    int64
 3   Time (months)                               748 non-null    int64
 4   whether he/she donated blood in March 2007  748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [4]:
df.isnull().sum()

Recency (months)                              0
Frequency (times)                             0
Monetary (c.c. blood)                         0
Time (months)                                 0
whether he/she donated blood in March 2007    0
dtype: int64

In [5]:
x = df.drop('whether he/she donated blood in March 2007', axis=1)
y = df['whether he/she donated blood in March 2007']

In [8]:
#import knn and naive bayes from sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [29]:
knn_results = pd.DataFrame(columns = ['split_size', 'misclassification_rate', 'precision', 'recall'])
nb_results = pd.DataFrame(columns = ['split_size', 'misclassification_rate', 'precision', 'recall'])

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score
def tabulate_results(x, y, split_size, knn_results, nb_results):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=split_size, random_state=42)

    knn = KNeighborsClassifier(n_neighbors=5)
    nb = GaussianNB()

    knn.fit(x_train, y_train)
    nb.fit(x_train, y_train)

    prd_k = knn.predict(x_test)
    prd_n = nb.predict(x_test)
    #concat results to the dataframes knn_results and nb_results
    knn_results = pd.concat([knn_results, pd.DataFrame({'split_size':split_size, 'misclassification_rate':1-knn.score(x_test, y_test), 'precision':precision_score(y_test, prd_k), 'recall':recall_score(y_test, prd_k)}, index=[0])], ignore_index=True)
    nb_results = pd.concat([nb_results, pd.DataFrame({'split_size':split_size, 'misclassification_rate':1-nb.score(x_test, y_test), 'precision':precision_score(y_test, prd_n), 'recall':recall_score(y_test, prd_n)}, index=[0])], ignore_index=True)
    return knn_results, nb_results

In [30]:
knn_results, nb_results = tabulate_results(x, y, 0.2, knn_results, nb_results)
knn_results, nb_results = tabulate_results(x, y, 0.4, knn_results, nb_results)
knn_results, nb_results = tabulate_results(x, y, 0.7, knn_results, nb_results)

In [34]:
knn_results

   split_size  misclassification_rate  precision    recall
0         0.2                0.293333   0.379310  0.297297
1         0.4                0.246667   0.564103  0.278481
2         0.7                0.253817   0.531250  0.125926

In [35]:
nb_results

   split_size  misclassification_rate  precision    recall
0         0.2                0.246667   0.500000  0.162162
1         0.4                0.260000   0.526316  0.126582
2         0.7                0.284351   0.383333  0.170370

In [33]:
##save the two dataframes as csv files
knn_results.to_csv('knn_results.csv', index=False)
nb_results.to_csv('nb_results.csv', index=False)